#search
{
    border: 0;
    box-shadow: 0 0 8px #a4a0a0;
    border-radius: 8px;

}

.newsletter
{
    font-size: 100px;
    padding: 25px;
}
#second-header
{
    text-align: center;
    background-color: #263179;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    width:100%;
    position: fixed;
    top: 0;
    left:0;
    z-index:1;
    width: 100%;
    text-align: center;
}
#navbar,#search-box
{
    margin-top:5%;
}
#header
{
    position: absolute;

}
.second-collopse
{
    text-align: right;
    color: white;


}
.content-overlay
{
    position: relative;
}
.container .title{
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
  }
  
  .content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: 1;
  }
  
  .content-image{
    width: 100%;
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  
  .content-details p{
    color: #fff;
    font-size: 0.8em;
  }
  
  .fadeIn-bottom{
    top: 80%;
  }
  
  .fadeIn-top{
    top: 20%;
  }
  
  .fadeIn-left{
    left: 20%;
  }
  
  .fadeIn-right{
    left: 80%;
  }
  .text-justify
  {
    text-align: justify;
  }
  .swiper-slide:hover
  {
    cursor: pointer;

  }
  .testimonial-item img
  {

    transition: filter 0.4s;
  }
  .testimonial-item:hover img
  {
    filter: sepia(70%);
  }
  .about-gain
  {
    background-image: url(../img/about.jpg);
    background-size: cover;
    position: relative;
  }
  .about-bg
  {
    top: 0;
    position: absolute;
    width: 100%;
    background-color: #263179;
    height: 100%;
    opacity: 0.5;
  }
  .accordion-item
  {
    border: none;
  }

  .mid-box
  {
    position: relative;
    background-size: 100% 100%;
    color:white;
    height: 200px;

  }
  #first-box
  {
   
    background-image: url(../img/team.jpg);
    
  }
  #second-box
  {
    background-image: url(../img/trust.jpg);
  }

  .mid-box .mid-back
  {
    position: absolute;
    width: 100%;
    z-index: 0;
    left: 0;
    height: 100%;
    top: 0;
    background-color: #263179;
    opacity: 0.5;
    transition: opacity 1s;

  }
  .mid-box:hover .mid-back
  {
    opacity: 0.1;
    cursor: pointer;
  }
  .mid-box .mid-text
  {
    position: absolute;
    z-index: 1;
    background-color: #222725ad;
    width: 100%;
    left: 0;
    padding-left: 30px;
    padding-bottom: 10px;

  }

  
  #social a
  {
    padding:10px;
  }
  #social a:hover i
  {
    color:#0d6efd;
  }
  #social a i
  {
    font-size:30px;
  }

  #footer-section
  {
    padding:0;
    margin: 0;
    background-color: #263179;
    box-shadow: 0 0 5px black;
    color: #8f99a7;;
  }

  div.footer-border
  {
    width:30%;
    border:1px solid rgb(255,64,129);
  }
  #footer-section .footer-header
  {
    margin-top:2%;
    color:white;
    font-size: 20px;
  }
  .special-color
  {
    color:rgb(255,64,129);
  }

  #unsubscribe button
  {
    background-color:#0d6efd;
    color:white;
  }
  .footer-link a
  {
 
  }